# vim:ts=2:sw=2:et:ai:sts=2
---
# =============================================================================
# Ansible configuration.
# =============================================================================

# Use FQDNs for connecting, delegate connection details to SSH configuration.
ansible_host: '{{ host_fqdn }}'

# Override interpreter location according to Debian default configurations.
ansible_python_interpreter: |-
  {{
    '/usr/bin/python3'
    if apt__python3_is_default else
    '/usr/bin/python'
  }}
