# vim:ts=2:sw=2:et:ai:sts=2
---
# =============================================================================
# Reusable defaults and templates for base-setup role.
# =============================================================================

base_setup__enable: true
base_setup__set_hostname: '{{ host_fqdn }}'
base_setup__disable_cloud_init: true
base_setup__disable_resolved: true

base_setup__apt_upgrade: false
base_setup__pkg_install__base:
  - acl  # Needed for becoming a non-root user.
  - bash-completion
  - bind9-host
  - cron
  - cron-apt
  - info
  - kitty-terminfo
  - less
  - logrotate
  - lsof
  - mailutils
  - man
  - manpages
  - moreutils
  - ncurses-term
  - netcat-openbsd
  - rsync
  - rsyslog
  - screen
  - socat
  - strace
  - tcpdump
  - tmux
  - vim

base_setup__pkg_install__locate:
  - |-
    {{
      'mlocate' if (
        apt__distro_ver is version('11', 'lt')
        if (apt__vendor | d('debian')) == 'debian' else
        apt__distro_ver is version('22.04', 'lt')
      ) else 'plocate'
    }}

base_setup__setup_locales: true
base_setup__default_locale: en_IE.UTF-8
base_setup__locales_to_be_generated:
  - en_IE.UTF-8 UTF-8
  - en_US.UTF-8 UTF-8
  - es_AR.UTF-8 UTF-8
  - es_ES.UTF-8 UTF-8

# Agregation of custom configuration using var prefixes
# -----------------------------------------------------------------------------

base_setup__pkg_install: |-
  {{
    query('vars',
      *(query('varnames', '^base_setup__pkg_install__.*') | sort)
    ) | sum(start=[])
  }}
