# vim:ts=2:sw=2:et:ai:sts=2
---

- name: Install needed packages
  ansible.builtin.package:
    name:
      - moreutils
      - restic
      - gdisk
    state: present

- name: Set up backup script
  ansible.builtin.copy:
    src: files/restic_backup.sh
    dest: /usr/local/sbin/restic_backup.sh
    owner: root
    group: root
    mode: '0775'

- name: Save restic password
  ansible.builtin.copy:
    content: '{{ restic_backup__password }}'
    dest: /etc/restic_backup.password
    owner: root
    group: root
    mode: '0600'
  no_log: true
  when: restic_backup__password is ansible.builtin.truthy

- name: Set up cron job
  ansible.builtin.copy:
    content: |
      #!/bin/sh

      export RESTIC_PASSWORD_FILE=/etc/restic_backup.password
      export RESTIC_REPOSITORY={{ restic_backup__repository }}
      exec chronic /usr/local/sbin/restic_backup.sh
    dest: /etc/cron.daily/restic_backup
    owner: root
    group: root
    mode: '0700'  # The repository URL may contain a password.
