apiVersion: 1

prune: true

datasources:
{% for ds in grafana__datasources_prometheus %}
{% set defaults = {
  'type': 'prometheus',
  'access': 'proxy',
  'jsonData': {
    'httpMethod': 'POST',
    'manageAlerts': true,
    'prometheusType': 'Prometheus',
    'cacheLevel': 'High',
    'disableRecordingRules': false,
    'incrementalQueryOverlapWindow': '10m',
  }
}
%}
  - {{ defaults | combine(ds, recursive=true) | to_nice_yaml(indent=2) | indent(4) }}
{% endfor %}
