# {{ ansible_managed }}

[server]
http_port = {{ grafana__server__http_port }}
domain = {{ grafana__server__domain }}
root_url = {{ grafana__server__root_url }}

[analytics]
reporting_enabled = {{ grafana__analytics__reporting_enable }}

[users]
allow_sign_up = {{ grafana__users__allow_sign_up }}

[auth.anonymous]
enabled = {{ grafana__auth_anonymous__enabled }}

[auth.basic]
enabled = {{ grafana__auth_basic__enabled | lower }}

[auth.ldap]
enabled = {{ grafana__auth_ldap__enabled | lower }}

[smtp]
enabled = {{ grafana__smtp__enabled }}
host = {{ grafana__smtp__host }}
from_address = {{ grafana__smtp__from_address }}

[emails]
welcome_email_on_sign_up = {{ grafana__emails__welcome_email_on_sign_up }}

[plugins]
enable_alpha = {{ grafana__plugins__enable_alpha }}
allow_loading_unsigned_plugins = {{ grafana__plugins__allow_unsigned }}
